
<!DOCTYPE html>
<html>
	<title>REPLDATA ACCOUNT</title>
	<link rel="stylesheet" href="https://rbotcss.coolcodersj.repl.co/style.css">
<style>
			form {
				padding: 20px;
			}
			body {
				padding-top: 110px;
			}
		</style>
	<div class="topnav text">
		<a class="brand" href="#">ReplData</a>
		<div class="topnavitem">
		 <a class="topnavitem active" href="/">Home</a>
  <a class="topnavitem" href="/account">My Account</a>
    <a class="topnavitem" href="/login">Login</a>
  <a class="topnavitem" href="/signup">Signup</a>
  <a class="topnavitem" href="/apidoc">Tracking Docs</a>
 
  </div>
</div> 
<center>
<h1>REPLDATA</h1>
<h4>See how many people run your repls, and who runs them. All on a simple dashboard.</h4>
<img src="https://res.cloudinary.com/dakygv2vu/image/upload/v1613864104/cdn/wfoyuo.png" width="50%">

<h4>Check your repls, run them, and share them, all on a single page</h4>
<img src="https://res.cloudinary.com/dakygv2vu/image/upload/v1613864245/cdn/lwofho.png" width="50%">
<h4>What are you waiting for?</h4>
<a href="/signup">
<button>Get Started</button>
</a>
<br>
<br>
</center>
<a class="coded-on-replit" href="https://CoolCoderSJ.repl.co" target="_blank">
		<img src="https://coolcodersj.repl.co/replit-logo.svg" alt="replit" />
    Shuchir Jain
  </a>
</html>